<!DOCTYPE html>
<html lang="en-us">
  
  <head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/github-light.css" media="screen">
  </head>
  
  <body>
    <section class="page-header">
        <a href="https://steventammen.com/" class="btn">Home</a>
        <a href="https://steventammen.com/about/" class="btn">About</a>
        <a href="https://steventammen.com/contact/" class="btn">Contact</a>
        <a href="https://steventammen.com/CV.pdf" class="btn">CV</a>
        <a href="https://steventammen.com/pages/" class="btn">Pages</a>
        <a href="https://steventammen.com/in-progress/" class="btn">In Progress</a>
        <a href="https://steventammen.com/search/" class="btn">Search</a>
        <a href="https://steventammen.com/settings/" class="btn">Settings</a>
        <a href="https://steventammen.com/contribute/" class="btn">Contribute</a>
    </section>
    <section class="main-content">
      {{content}}
    </section>
  </body>
  
</html>
